h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 22px;
  }

body{
    background-color:beige
}

h1:hover{
    transition: 5s;
    font-size: 45px;
}
